<div class="col-md-2 bg-white border-end min-vh-100">

    <div class="list-group list-group-flush pt-3">

        <a href="{% url 'dashboard:dashboard' %}" class="list-group-item list-group-item-action">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="{% url 'customers:search' %}" class="list-group-item list-group-item-action">
            <i class="bi bi-people"></i>
            Customers
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-car-front"></i>
            Vehicles
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-clipboard-check"></i>
            Job Cards
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-gear"></i>
            Settings
        </a>

    </div>

</div>